.parallax-container {
    position: relative;
    margin-bottom: 4rem;

    .parallax-image {
        background: url('https://unsplash.sxlcdn.com/photo-1493689485253-f07fcbfc731b?h=1500&w=2000&fit=clip&fm=jpg') no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 500px;
            filter: brightness(70%);
    }

    .parallax-content {
        // position: absolute;
        padding: 0;
        // top: 200px;
        margin: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        z-index: 2;
        height: 100%;
        font-size: 32px;
        color: #fff;
        font-weight: bold;

    }

    .title__wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}