.fof-wrapper{
    min-height:100vh;
    .fof-tips{
        position: absolute;
        bottom: 4rem;
        right: 4rem;
        text-align: left;
        top: initial;
        width: 14.375rem;
    }
}